<!doctype html>
<html lang="en">

<head>
    <%-include("../parcials/head.ejs") %>
</head>

<body>
  <!-- Para que al llegar al final me permita volver al top -->
  <a name="top"></a>

  <!-- NAV -->
  <nav>
    <%-include("../parcials/header.ejs") %>
  </nav>
    <!-- FIN NAV -->
  
  
  <div class="claseProductos">
    <aside class="imagenProductos">
      <%-include("../parcials/sideProducts.ejs") %>
    </aside>

    <main class="cuerpoProductos">
        <% products.forEach(product => { %>
          <div class="card" style="width: 18rem;">
            <img src="images/products/nav/<%-product.category%>" class="card-img-top" alt="IMG1">
            <div class="card-body">
              <h5 class="card-title"><%-product.name%></h5>
              <p class="card-text"><%-product.description%></p>
              <p class="card-text">$<%-product.price%></p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
            </div>
          </div>
        <% }) %>
    </main>
  </div>

   
  <%-include("../parcials/footer.ejs")%>
  
</body>

</html>



